.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensures it's above other elements */
}

body {
  padding-top: 60px; /* Adjust based on navbar height */
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full screen height */
  padding-top: 60px; /* Offset navbar */
  padding-bottom: 70px; /* Offset chat input */
  overflow-y: scroll;
}

#chat-form {
  position: fixed;
  bottom: 0;
  width: 100%;/* Optional: Dark background */
  padding: 10px;
}
